{{link-to "Back home" "contacts"}}

<p>The contact is {{model.name}}</p>

<div>
  {{#link-to "edit" model}}
    <button data-test-edit-button>Edit this contact</button>
  {{/link-to}}
</div>

<div>
  <button {{action "deleteContact" model}} data-test-delete-button>Delete this contact</button>
</div>
